<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="container">
        <h1><a href="/Allcountries">Go To All Countries</a></h1>
        <% data.forEach(ele=>{%>

            <div class="card">
                <p>The country: <%= ele.country %>
                </p>
                <p>The date: <%= ele.date %>
                </p>
                <form action="/recordDetails/<%= ele.id %>" method="GET">
                    <button>View-Details</button>
                </form>
            </div>

            <% })%>
    </div>

</body>

</html>